In [1]:
print("Hi 0807")

Hi 0807

In [2]:
早餐 = 100

In [3]:
午餐 = 200

In [4]:
餐費 = 早餐 + 午餐

In [5]:
print(餐費)

300

In [6]:
週三氣溫 = 33

In [7]:
週四氣溫 = 32

In [8]:
週五氣溫 = 33

In [9]:
週六氣溫 = 33

In [10]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [11]:
print(四天平均溫度)

32.75

In [15]:
週三氣溫, 週四氣溫, 週五氣溫, 週六氣溫 = 33, 32, 33, 33

In [16]:
四天平均溫度 = (週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4

In [17]:
print(四天平均溫度)

32.75

In [18]:
print((週三氣溫+週四氣溫+週五氣溫+週六氣溫)/4)

32.75

In [19]:
早餐 = 100

In [20]:
午餐 = 100

In [21]:
晚餐 = 100

In [22]:
日花費 = 早餐 + 午餐 + 晚餐

In [23]:
print(日花費)

300

In [24]:
周花費 = 日花費 * 7

In [25]:
print(周花費)

2100

In [26]:
月花費 = 周花費 * 4

In [27]:
print(月花費)

8400

In [28]:
print(type(10))

<class 'int'>

In [29]:
print(type(5.5))

<class 'float'>

In [31]:
print(type("What's your name?"))

<class 'str'>

In [34]:
print(type(True))

<class 'bool'>

In [36]:
num1 = 1 + 1.1

In [37]:
print(num1)

2.1

In [38]:
num2 = 2

In [39]:
num1, num2

(2.1, 2)

In [42]:
num3 = float(num2)

In [43]:
print(type(num3))

<class 'float'>

In [44]:
a = 1

In [45]:
b = 2

In [46]:
c = 3

In [47]:
print(a,b,c)

1 2 3

In [48]:
print([a,b,c])

[1, 2, 3]

In [49]:
print(a,[b,c])

1 [2, 3]

In [50]:
print('hey','hi','hello')

hey hi hello

In [51]:
print('hey','hi','hello',sep='_')

hey_hi_hello

In [52]:
print('hey','hi','hello',sep='\t')

hey	hi	hello

In [53]:
print('hey','hi','hello',sep='\n')

hey
hi
hello

In [54]:
print('午安')

午安

In [58]:
print('同學好!')

同學好!

In [60]:
print('打起精神來!!')

打起精神來!!

In [61]:
print('午安','同學好!','打起精神來!!',sep='\n')

午安
同學好!
打起精神來!!

In [62]:
print(123)
print(456)

123
456

In [64]:
print(123,end=',')
print(456)

123,456

In [65]:
print(123,end='')
print(456)

123456

In [66]:
輸入測試 = input("請輸入數字")

In [67]:
輸入測試

'10'

In [68]:
print(type(輸入測試))

<class 'str'>

In [75]:
輸入測試1 = (input("請輸入數字"))

In [76]:
輸入測試1+1

TypeError: can only concatenate str (not "int") to str

In [82]:
國文 = int(input("請輸入國文數字"))
英文 = int(input("請輸入英文數字"))
數學 = int(input("請輸入數學數字"))
你的成績總分為 = 國文 + 英文 + 數學

In [83]:
你的成績總分為

180

In [86]:
長方形的寬 = int(input("請輸入寬的長度"))
長方形的長 = int(input("請輸入長的長度"))
長方形的面積 = 長方形的寬 * 長方形的長

In [87]:
長方形的面積

12